<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <title>
    Welcome to <%= title %>
  </title>
</head>
<body>
<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/form-->
          <div class="row">    

            <div class="col-md-12">
              <h1>HTTP Header Experiment</h1>
                <form method="post" enctype="multipart/form-data">
                  <section>
                    <input type="file" class="upload-file" name="upload-file" accept="application/xml,text/xml">
                  </section>
                  <section>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </section>
                </form>
            </div>
          </div>

          <!--/form-->

          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>

  <script src="/js/jquery.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>